body{
    height: 100vh;
    background: linear-gradient(#090909, #858585);
    font-weight: bold;
    color: aliceblue;
}

dd{
    position: fixed;
    top: 25%;
    right: 10%;
}

dt{
    position: fixed;
    top: 65%;
    right: 10%;
}

ul{
    position: fixed;
    top: 3%;
    right: 40%;
    font-size: 2.5em;
    font-weight: bold;
}

ul:nth-child(1){
    filter: hue-rotate(20deg);
}

ul span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(1800deg,transparent,#fdfdfd);
    animation: animate1 1s linear infinite;
}
